In [ ]:
#MY PROGRAMS PRACTICE

In [1]:
#first Python Program

print("hello world")

hello world

In [2]:
#variables
age=38
name="Kishore"
weight=50.5
print(age)
print(name)
print(weight)

38
Kishore
50.5

In [12]:
#Using Variables in Computations
price = 100
tax =18
print(price+tax)

118

In [7]:
#How Variables Work Internally
x=10
y="kishore"
z=20
w=z
w=30
print(x,y,z,w)

10 kishore 20 30

In [8]:
#python is dynamically typed

is_valid=True
marks=90
pi=3.14
city_name="Noida"
print(is_valid)
print(marks)
print(pi)
print(city_name)

True
90
3.14
Noida

In [13]:
#Dynamically Typed Nature of Python
x=10
print(x)

x="Kishore"
print(x)

10
Kishore

In [15]:
#Special Value: None
x=None
print(x)

None

In [14]:
#Boolean Variables
is_valid=True
isnt_valid=False
print(is_valid)
print(isnt_valid)

True
False

In [16]:
#Wrong Approach Using a Temporary Variable
x="kishore"
y="Student"
x=y
y=x
print(x)
print(y)

Student
Student

In [17]:
#Correct Approach Using a Temporary Variable
x="kishore"
y="Student"
temp=x
x=y
y=temp
print(x)
print(y)

Student
kishore

In [18]:
#Pythonic Way to Swap Variables
x="Kishore"
y="Student"
x,y=y,x
print(x,y)

Student Kishore

In [19]:
#Assigning Multiple Values to Multiple Variables
x,y,z=10,"kishore",20
print(x)
print(y)
print(z)

10
kishore
20

In [20]:
x=100
y="Kishore"
x,y=x+10,y+"4"
print(x,y)

110 Kishore4

In [21]:
#Understanding the Function in Python
print(id(5))
x=10
print(id(x))
y=x
print(id(y))

140716508523064
140716508523224
140716508523224

In [22]:
#How id() Works
a=10
b=10
print(id(a))
print(id(b))

140716508523224
140716508523224

In [23]:
#Internals of the id() Function
a=10
b=10
print(a is b)

True

In [24]:
#Reassigning Variables
a=10
b=a
b=20
print(a is b)

False

In [25]:
#Integer Type
a=10
print(type(a))

<class 'int'>

In [27]:
#Float Type
a=10.5
print(type(a))

<class 'float'>

In [28]:
#Complex Type:
a=2+4j
print(type(a))

<class 'complex'>

In [29]:
#boolean Type
a=True
print(type(a))

<class 'bool'>

In [30]:
a=None
print(type(a))

<class 'NoneType'>

In [31]:
#Sequence Types in Python
# String Type:
a="kishore"
print(type(a))

<class 'str'>

In [32]:
#List Type:
a=[1,2,3]
print(type(a))

<class 'list'>

In [33]:
#tuple
a=(1,2,3)
print(type(a))

<class 'tuple'>

In [34]:
#set type
a={10,20,30}
print(type(a))

<class 'set'>

In [37]:
#dictionary
a={10:"kishore",20:"ID"}
print(type(a))

<class 'dict'>

In [40]:
#Accessing List Items
a=[10,20,30,40,50]
print(a)
print(a[1])
print(a[-1])
print(a[0])

[10, 20, 30, 40, 50]
20
50
10

In [43]:
#Modifying Lists
#Appending Items
a=[10,20,30,40,50]
a.append(60)
print(a)

[10, 20, 30, 40, 50, 60]

In [44]:
#inserting items
a=[10,20,30,40,50]
a.insert(1,15)
print(a)

[10, 15, 20, 30, 40, 50]

In [45]:
#Checking for Items
a=[10,20,30,40,50]
print(15 in a)
print(10 in a)

False
True

In [49]:
#Counting Items
a=[10,20,30,40,50,30]
print(a.count(30))

2

In [50]:
#Finding Index
a=[10,20,30,40,50]
print(a.index(20))

1

In [51]:
#Removing Items
#Remove by Value
a=[10,20,30,40,50]
a.remove(30)
print(a)

[10, 20, 40, 50]

In [54]:
#Remove by Index
a=[10,20,30,40,50,60]
a.pop()
print(a)
a.pop(1)
print(a)

[10, 20, 30, 40, 50]
[10, 30, 40, 50]

In [55]:
#Using del
a=[10,20,30,40,50,60]
del a[1]
print(a)

[10, 30, 40, 50, 60]

In [60]:
#General List Functions
#Maximum, Minimum, Sum
a=[10,20,30,40,50,60]
print(max(a))
print(min(a))
print(sum(a))

60
10
210

In [61]:
#Reversing a List
a=[10,20,30,40,50,60]
a.reverse()
print(a)

[60, 50, 40, 30, 20, 10]

In [62]:
#Sorting a List
b=[20,50,70,10,15,9]
b.sort()
print(b)

[9, 10, 15, 20, 50, 70]