In [1]:
#Tuples in Python
my_tuple=(10,20,"Kishore")
print(my_tuple[0])
print(my_tuple[1])
print(my_tuple[2])

10
20
Kishore

In [2]:
#Tuple Functions
a = (10, 20, 'Kishore')
print(len(a))

3

In [4]:
a = (10, 20, 'Kishore',"Divya")
print(a.count(10))

1

In [7]:
a = (10, 20, 'Kishore',"Divya")
print(a.index(20))

1

In [10]:
#Slicing Tuples
a=(10,20,30,40,50)
print(a[1:5])

(20, 30, 40, 50)

In [11]:
#Handling Mixed Data Types
nested_tuple = (10, 'kishore', (1, 2, 3,4))
print(nested_tuple[2])       
print(nested_tuple[2][1])

(1, 2, 3, 4)
2